baseURL: "https://axis.lol"
title: Axis
paginate: 5
theme: PaperMod

enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false

minify:
    disableXML: true
    minifyOutput: true

params:
    env: production
    title: Axis
    description: "TypeScript Developer and Coffee lover."
    author: Me

    defaultTheme: dark
    disableThemeToggle: false

    ShowReadingTime: true
    ShowShareButtons: false
    disableSpecial1stPost: false
    comments: false
    hidemeta: false
    showtoc: false
    tocopen: false

    assets:
        favicon: "favicon.ico"

    label:
        text: "Axis"
        icon: /assets/pfp.png
        iconHeight: 32

    profileMode:
        enabled: true
        title: Axis (Jonathan)
        subtitle: "TypeScript Developer and Coffee lover."
        imageUrl: /assets/pfp.png
        imageWidth: 120
        imageHeight: 120
        imageTitle: Avatar

    socialIcons:
        - name: twitter
          url: "https://twitter.com/ax1s01"
        - name: github
          url: "https://github.com/yaboyaxis"
        - name: discord
          url: "https://discord.com/users/461750180388274180"

    cover:
        hidden: true
        hiddenInList: true
        hiddenInSingle: true

    fuseOpts:
        isCaseSensitive: false
        shouldSort: true
        location: 0
        distance: 1000
        threshold: 0.4
        minMatchCharLength: 0
        keys: ["title", "permalink", "summary", "content"]

menu:
    main:
        - identifier: posts
          name: Posts
          url: /posts/
          weight: 10
        - identifier: home
          name: Home
          url: /
          weight: 5